<div class="container" *ngIf="idPedido != 0">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Recibo do seu pedido</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3>Pedido número: {{idPedido}} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <p>Este é seu comprovante indicando que seu pedido foi recebido.</p> 
            <p>Em breve entrarei em contato para combinarmos forma de pagamento e para entender melhor suas necessidades
                para que eu possa indicar os melhores produtos pra você.</p> 
            <p> Obrigado pela preferência! </p>
            <p>Qualquer dúvida ou mesmo algum problema, entre em contato comigo através das minhas redes sociais ou 
                WhatsApp.</p>
            <p>Tire um print desta tela para ter a garantia de que deu tudo certo.</p>
        </div>
    </div>


</div>
