<div class=container>
    <div class=row >
        <div class="col-12 text-center">
            <h3>Seu carrinho</h3>
        </div>
    </div>

    <div class="row" *ngIf="vazio == true">
        <div class="col-12">
            <h3>Seu carrinho está vazio</h3>
        </div>
    </div>

    <div id="itens" *ngIf="vazio == false">
        <div class="row">
            <div class="col-12">
                <h3> Valor Total R$ {{pedido.valorTotal | number: '1.2-2'}}</h3>
                <br>
            </div>
        </div>
        <div class="row itemPedido" *ngFor="let ITEM of pedido.itensPedido">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 text-center">
                <img src="{{ITEM.produto.linkFoto}}" width="80%"><i (click)="removerItem(ITEM.produto.idProduto)" class="far fa-trash-alt"></i>
            </div> 
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-5 col-xl-5 text-center">
                <label for="nome">Produto</label>
                <h4 id="nome">{{ITEM.produto.nome}} </h4>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 text-center">
                <label for="prUni">Preço Unitário</label>
                <h5 id="prUni">R$ {{ITEM.precoUnitario | number: '1.2-2'}}</h5>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-1 col-lg-1 col-xl-1 text-center">
                <label for="qtde">Qtde</label>
                <h5 id="qtde">{{ITEM.qtdeItem}}</h5>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 text-center">
                <label for="prTotal">Preço Total</label>
                <h5 id="prTotal">R$ {{ITEM.precoTotal | number: '1.2-2'}} </h5>
            </div>


        </div>
        <br>
    </div>
    <div class="row" *ngIf="pedido != null && pedido.itensPedido.length > 0">
        <div class="col-6 text-center">
            <button class="btn btn-primary" (click)="continuar()">Continuar Comprando</button>
        </div>
        <br>
        <div class="col-6 text-center">
            <button class="btn btn-primary" (click)="efetivar()">Finalizar Compra</button>
        </div>
        <br>
    </div>
    <br>
</div>
