<div id="background">
  <main class="form-signin">
    <div id="imagem" class="d-flex justify-content-center"> <img class="mb-4" src="./assets/logo.png" alt=""  height="57"></div>
    <h1 class="h3 mb-3 fw-normal text-center">Área Administrativa</h1>
  
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Password" [(ngModel)]= "usuario.email">
      <label for="floatingInput">Seu login</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]= "usuario.senha">
      <label for="floatingPassword">Sua senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" (click)="autenticar()">Conectar-se</button>
      
  </main>
</div>

<!-- Button trigger modal -->
<button id="btnModal" style="visibility: hidden;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  ...
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Erro!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Usuário ou senha inválidos/bloqueados.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>