<div id="background">
  <main class="form-signin">
    <div id="imagem" class="d-flex justify-content-center"> <img class="mb-4" src="./assets/logo.png" alt=""  height="57"></div>
    <h1 class="h3 mb-3 fw-normal text-center">Área Administrativa</h1>
  
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Password" [(ngModel)]= "usuario.username">
      <label for="floatingInput">Seu login</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]= "usuario.senha">
      <label for="floatingPassword">Sua senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" (click)="autenticar()">Conectar-se</button>
      
    
  </main>
</div>