html,
body {
  height: 100%;
  
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#background{
  height: 100%;
  width: 100%;
}


.form-signin {
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  border-radius: 5%;
  border: 1px solid gray;
  margin-top: 5%;
}



.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

