<div class="container-fluid" id="rodape">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna1">
      <h4>Revenda Natura</h4>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna2">
      <h6>Entre em contato</h6>
      <p><i class="fab fa-whatsapp"></i> (11)98765-4321</p>
      <p><i class="fas fa-globe"></i>www.leetir.com.br</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna3">
      <h6>Siga nas redes sociais</h6>
      <p><i class="fab fa-instagram"></i>@naturassp</p>
      <p><i class="fas fa-hashtag"></i>naturassp</p>

    </div>
  </div>
</div>
