<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciar Categorias</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary"> + Nova Categoria</button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome da Categoria</th>
            </tr>
        </thead>
        <tbody>
            <!-- aqui vem o loop de categorias-->
            <th scope="row">...  </th>
            <td>Nome da Categoria</td>
        </tbody>
    </table>

</div>
