<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciar Categorias</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" routerLink='/editorcategoria/new'> + Nova Categoria</a>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome da Categoria</th>
            </tr>
        </thead>
        <tbody>
            <!-- aqui vem o loop de categorias-->
            <tr *ngFor = "let ITEM of lista">
                <th scope="row">{{ITEM.id}} </th>
                <td><a routerLink= '/editorcategoria/{{ITEM.id}}'>{{ITEM.nome}}</a> </td>
            </tr>
        </tbody>
    </table>

</div>
