<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="text-center">Editor de Produtos</h3>
        </div>
    </div>

    <div class="row" *ngIf = "mode == 0">
        <div class="col-12">
            <p>Inserindo novo produto</p>
        </div>
    </div>

    <div class="row"> 
        <div class="col-12">
            <div class="mb-3">
                <label for="txtNomeCategoria" class="form-label">Nome da Categoria</label>
                <input type="text" class="form-control" id="txtNome" >
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" >Atualizar dados</button>
        </div>
    
        <div class="col-6">
            <a class="btn btn-primary" >Voltar</a>
        </div>
    </div>
</div>
