<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciamento de Pedidos</h3>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Observações</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let ITEM of lista">
                <td>{{ITEM.idPedido}}</td>
                <td>{{ITEM.dataPedido | date: 'dd/MM/yyyy'}} </td>
                <td>{{ITEM.cliente.nome}} </td>
                <td><strong>R$ {{ITEM.valorTotal | number: '1.2-2'}}</strong> </td>
                <td>{{ITEM.observacoes}} </td>
                <td>
                    
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" >
                        
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio1-{{ITEM.idPedido}}" autocomplete="off" 
                            checked *ngIf="ITEM.status==1">
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio1-{{ITEM.idPedido}}" autocomplete="off" *ngIf="ITEM.status!=1"
                            (click)="alterarStatus(ITEM, 1)">
                            <label class="btn btn-outline-primary" for="btnradio1-{{ITEM.idPedido}}">
                                <i class="fas fa-dollar-sign"></i></label>

                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio2-{{ITEM.idPedido}}" autocomplete="off" 
                            checked *ngIf="ITEM.status==2">
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio2-{{ITEM.idPedido}}" autocomplete="off" *ngIf="ITEM.status!=2"
                            (click)="alterarStatus(ITEM, 2)">
                        <label class="btn btn-outline-primary" for="btnradio2-{{ITEM.idPedido}}">
                            <i class="fas fa-truck"></i></label>

                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio3-{{ITEM.idPedido}}" autocomplete="off" 
                            checked *ngIf="ITEM.status==3">
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio3-{{ITEM.idPedido}}" autocomplete="off" *ngIf="ITEM.status!=3"
                            (click)="alterarStatus(ITEM, 3)">
                        <label class="btn btn-outline-primary" for="btnradio3-{{ITEM.idPedido}}">
                            <i class="far fa-window-close"></i></label>
                    
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>