<app-navbar></app-navbar>

<!--modal do pedido-->

<div class="modal fade modal-dialog-scrollable" id="detalheModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhe do Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>{{detalhe.cliente.nome}}</h6>
            <hr>
            <p><strong>Endereço: </strong>{{detalhe.cliente.logradouro}}, {{detalhe.cliente.numero}}<br>
                {{detalhe.cliente.bairro}} - {{detalhe.cliente.cidade}} / {{detalhe.cliente.estado}} -
                {{detalhe.cliente.cep}} 
            </p>
            <hr>
            <h6>Itens</h6>
            <p *ngFor="let item of detalhe.itensPedido">
                {{item.produto.nome}} - {{item.qtdeItem}} - {{item.precoUnitario | currency: 'BRL'}}
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
<button type="button" id="btnModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalheModal">
    Start Modal
</button>

<!-- -->

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Gerenciamento de Pedidos</h3>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Observações</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let ITEM of lista">
                <td>{{ITEM.idPedido}}</td>
                <td><i class="fas fa-info-circle" (click)="enviarDetalhes(ITEM)"></i></td>
                <td>{{ITEM.dataPedido | date: 'dd/MM/yyyy'}} </td>
                <td>{{ITEM.cliente.nome}} </td>
                <td><strong>R$ {{ITEM.valorTotal | number: '1.2-2'}}</strong> </td>
                <td>{{ITEM.observacoes}} </td>
                <td>
                    
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" >
                        
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio1-{{ITEM.idPedido}}" autocomplete="off" 
                            checked *ngIf="ITEM.status==1">
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio1-{{ITEM.idPedido}}" autocomplete="off" *ngIf="ITEM.status!=1"
                            (click)="alterarStatus(ITEM, 1)">
                            <label class="btn btn-outline-primary" for="btnradio1-{{ITEM.idPedido}}">
                                <i class="fas fa-dollar-sign"></i></label>

                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio2-{{ITEM.idPedido}}" autocomplete="off" 
                            checked *ngIf="ITEM.status==2">
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio2-{{ITEM.idPedido}}" autocomplete="off" *ngIf="ITEM.status!=2"
                            (click)="alterarStatus(ITEM, 2)">
                        <label class="btn btn-outline-primary" for="btnradio2-{{ITEM.idPedido}}">
                            <i class="fas fa-truck"></i></label>

                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio3-{{ITEM.idPedido}}" autocomplete="off" 
                            checked *ngIf="ITEM.status==3">
                        <input type="radio" class="btn-check" name="btn-{{ITEM.idPedido}}" 
                            id="btnradio3-{{ITEM.idPedido}}" autocomplete="off" *ngIf="ITEM.status!=3"
                            (click)="alterarStatus(ITEM, 3)">
                        <label class="btn btn-outline-primary" for="btnradio3-{{ITEM.idPedido}}">
                            <i class="far fa-window-close"></i></label>
                    
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>